@font-face{font-family: Roboto-Bold;src: url("../fonts/roboto/Roboto-Bold.ttf");}
@font-face{font-family: Roboto-Regular;src: url("../fonts/roboto/Roboto-Regular.ttf");}
@font-face{font-family: Caviar-Dreams;src: url("../fonts/caviar/caviardreams-webfont.ttf");}
@font-face{font-family: Caviar-Dreams-Bold;src: url("../fonts/caviar/CaviarDreams_Bold.ttf");}
a{	font-family: Caviar-Dreams-Bold;}
.btn-danger {
  color: #fff;
  background-color: red!important;
  border: 2px solid red!important;
  font-family: Caviar-Dreams-Bold;
}
.danger-color{
  color: #fff;
  background-color: #E60000!important;
}
/* NAVBAR STYLE */
.logo_pagina img{
  width: 100px;
}
.logo_pagina a:last-child img{
  width:130px;
}
.nav-contact{
  margin-right: 2em;
  text-align: right;
  color: black;
}
.nav-contact a{
  color: black;
}
.nav-contact h4{
  color:red;
  font-family: Caviar-Dreams-Bold;
}
@media (max-width:560px){
  .nav-contact{display: none;}
  .logo_pagina a:last-child img{display: none;}
}
.toggle-lines{
  justify-content: flex-end;
}
.navbar-toggler-icon{
  width: 40px;
  height: 40px;
  color: red;
}
.overlayNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #E60000!important;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
}
#fondonegro{
  content:"";
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index:4;
  transition: 0.5s;
}
.overlayNav a{
  margin:0 0.5em;
  color: white;
}
.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.links {
    width: 100%;
    padding:0.8rem 2rem;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: #FFF!important;
    display: block;
    transition: 0.3s;
    background-color: transparent;
    margin-left: 0px!important;
}
.linksDropinner{
  color: white!important;
  padding:1rem 3rem!important;
}
.linksDrop::after{
  content:"";
  position: absolute;
  width: 35px;
  height: 20px;
  right: 20%;
  margin-top: 8px;
  background-image: url("../images/down-arrow.svg");
  background-size: cover;
  background-position: center;
  color: white!important;
}
.links:hover {
  background-color: rgb(242, 57, 57);
}
.links:focus {
  background-color: rgb(190, 46, 46);
}
.logo_menu img{
  width: 150px;
}
.logo_menu2 img{
  width: 250px;
}
.overlayNav a:hover, .overlayNav a:focus {
    color: white;
}
.overlayNav .closebtn {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 60px;
    z-index: 10;
}
.redes_menu img{
  width: 40px;
}
.redes_menu{
  margin: 1em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.5em;
}
@media screen and (max-height: 450px) {
  .overlayNav a {font-size: 20px}
  .overlayNav .closebtn {
    font-size: 40px;
    top: 15px;
    right: 20px;
  }
}
.btn-white2{
  border:2px solid red;
  background: white;
  color: red!important;
   font-family: Caviar-Dreams-Bold!important;
}
.btn-white{
  color: red!important;
  font-family: Caviar-Dreams-Bold!important;
}
/* CIERRE NAVBAR STYLE */


body{
	font-family: Caviar-Dreams;
}
body section{
    box-shadow:inset 0px 15px 8px -10px rgba(0, 0, 0, 0.3);
}
.section-rojo{
	background-color: #E60000;
	color: white!important;
}
.section-blanco{
	background-color: white;
	color: #2b2c2d!important;
}
header.header{
	height: 500px;
	background-position: center;
	background-size: cover;
	padding: 2em;
	display: flex;
	justify-content:flex-start;
	align-items:  flex-end;
}
header.header h1{
	font-family: Roboto-Bold;
}
/* Call to action 1 */
.callToAction{
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	padding: 3em 1em;
	overflow: hidden;
}
.callToAction h2{
	font-family: Caviar-Dreams-Bold;
	text-align: center;
}
.callToAction p{
	margin: 2em auto;
	font-size: 1.2em;
	text-align: justify;
}
.callToAction div.botones{
	text-align: center;
	margin: 4em auto 1em auto;
}
.callToAction div{
	text-align: center;
}
.callToAction a.img-after{
	overflow: visible;
	margin: 3em 1em 1em 1em;
}
a.img-after::after{
	content:"";
	position: absolute;
	z-index: 2;
	width: 150px;
	height: 150px;
	background-position: center;
	background-size: cover;
}
a.img-after:first-child::after{
	top: -114px;
	left: 110px;
	background-image: url('../images/Informes.svg');
}
a.img-after:last-child::after{
	top: -95px;
	right: -80px;
	background-image: url('../images/Datos.svg');
}
/* Fin de Call to Action */
/* Section de 3 parrafos */
.p-container{
	margin: 0 auto!important;
}
.parrafos{
	text-align: left;
	padding-right: 2em;
	margin: 0 auto!important;
}.parrafos p{
	text-align: left;
	padding-left: 1em;
	border-left: 3px solid #fff;
}
a.btn-only{
	margin: 2em auto;
	width: 150px!important;
}
.parrafosrojo p{
  border-left: 3px solid #E60000 !important;
}
/* Cierre Section de 3 parrafos */

/* SWIPER DE CLIENTES */
.swiper-container {
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 1em auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .slide-cliente{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
  }
  .slide-cliente img{
    width: 250px;
  }
  /* CIERRE SWIPER DE CLIENTES */
.no-gutters{
  padding-left:  0px !important;
  padding-right: 0px !important;
}
.callToAction iframe{
  margin-top: 1em;
}
.cards_container{
  justify-content: center;
}

/* FOOTER */

.pie_d_page{
  box-shadow:inset 0px 15px 8px -10px rgba(0, 0, 0, 0.3);
    color: white;
    padding:1em 4em;
    font-size: 1.4rem;
}
.footer-title{
    margin: 0 auto 3em auto;
}
footer a, footer li{
    text-decoration: none;
    color: white;
    padding:0.2em 0;
    transition: all linear 0.1s;
}
footer a:hover{
    text-decoration: none;
    color: red;
    padding:0.2em 0;
    background-color: white;
    padding: 0.5em 1em 0.5em 0.5em;
}
footer hr{
    background: white;
}
footer ul{
    list-style: none;
    padding: 0;
}
.footer_links2{
    justify-content: center;
    text-align: right;
}
.footer_links1{
  justify-content: center;
  text-align: left;
}
.logo_etnia_footer{
    margin: 2em auto;
    flex-flow: column wrap;
    font-size: 0.8em;
}
.logo_etnia_footer img{
    margin: 0 auto;
    width: 200px;
}
.logo_etnia_footer img:lastchild{
    margin: 0 auto;
    width: 300px!important;
}
.copyright{
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 2rem 0px;
}
@media (max-width:767px) {
    .pie_d_page{
        color: white;
        padding:4em 1em;
        text-align: center;
    }
    .footer_links2{
       justify-content: center;
       text-align: center;
    }
    .footer_links1{
      justify-content: center;
      text-align: center;
    }
}
/* CIERRE DE FOOTER */
/* Nosotros */
.flotante{
  height: auto;
  padding: 4em 0em 0em 0em;
  box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.3);
}
.margin_nosotros{
  margin-top: 100px;
}
.margin_contacto{
  margin: 100px auto;
}
.margin_servicios{
  margin-top: 100px;
}
.us-header{
  justify-content: center!important;
}
.us-inicio{
  height: auto;
  padding: 1em 1em 0 1em;
}
.flotante h2{
  font-size: 2.5em !important;
}
.us-inicio p{
  text-align: justify;
  padding-right: 3em;
  font-size: 1.5em;
}
.us-inicio img{
  padding: 4em 4em 4em 4em;
  width: 100%;

}
.redes-somos{
  background-color: darkred;
}
.redes-somos img{
  width: 60px;
  padding: 0.5em;
}

@media (max-width:990px){
  .margin_nosotros{
    margin-top: 0;
  }
  .margin_contacto{
    margin-top: 0px;
  }
  .us-inicio{
    padding: 0;
  }
  .us-inicio img{
    padding: 1em;
  }
  .us-inicio p{
    padding: 1em;
    text-align: center;
  }

}
@media (max-width:400px){
  .margin_nosotros{
    margin-top: 0px;
  }
  .margin_contacto{
    margin-top: 20px;
  }
  .barra{
    border-right:none!important;
  }
  .md-form .prefix ~ input, .md-form .prefix ~ textarea {
    margin-left: 0rem;
    width: -webkit-calc(100% - 0rem);
    width: calc(100% - 0rem);
  }
  .md-form .prefix ~ label {
    margin-left: 0rem;
}
  .us-inicio{
    padding: 0;
  }
  .us-inicio img{
    padding: 1em;
  }
  .us-inicio p{
    padding: 1em;
  }
}

.info-nosotros{
    padding:3em 1em;
}
.info-nosotros h2{
  font-weight: bolder;
  text-align: left;
  font-family: Caviar-Dreams-Bold;
}
/*CIERRE Nosotros */

/*INICIO Contacto*/

.info-contacto{
    padding:2em 1em;
}
.info-contacto p{
  font-size: 1.2em;
}
.info-contacto h2{
  font-weight: bolder;
  text-align: center;
  font-family: Caviar-Dreams-Bold;
}

.parrafos-contacto{
	text-align: center;
	margin: 0 auto!important;
  padding: 1em;
}
.parrafos-contacto p{
	text-align: center;
}
.parrafos-contacto img{
  width: 90px;
}
.parrafosrojo-contacto p{
  margin: 0 auto;
}
.textobarra{
  border-left: 10px solid #E60000 !important;
}
.barra{
  border-right: 50px solid #E60000;
}
.pd-form{
  padding: 3em !important;
}

.datos-contacto a{
  font-family: Caviar-Dreams;
  text-decoration: none;
  color: white;
  padding:0.2em 0;
  transition: all linear 0.1s;
}
.datos-contacto a:hover{
  font-family: Caviar-Dreams-Bold;
  text-decoration: none;
  color: red;
  padding:0.2em 0;
  background-color: white;
  padding: 0.5em 1em 0.5em 0.5em;
}
/*CIERRE Contacto*/


/*INICIO Servicios*/
.flotante h3{
  font-family: Caviar-Dreams-Bold;
  padding-left: 3em;
  margin-top: 1em;
}

.img_servicios img{
  padding: 4em 4em 4em 4em;
  width: 100%;
}
.parrafo-servicios p{
  margin-top: 0;
  padding-right: 3em;
  padding-left: 3em;
}
.white-space-services{
  width: 100%;
  height: 420px;
}
.mb-5{
  margin-bottom: 1px !important;
}
@media (max-width:990px){
  .margin_servicios{
    margin-top: 20px;
  }
  .img_servicios img{
    padding: 0;
    width: 60%;
  }
  .parrafo-servicios p{
    text-align: justify;
  }
  .margin_info{
    margin-top: 50px;
  }
  .white-space-services{
    height: 750px;
  }
}
@media (max-width:780px){
  .margin_servicios{
    margin-top: 20px;
  }
  .parrafo-servicios p{
    padding: 1em;
    text-align: justify;
  }
  .margin_info{
    margin-top: 0;
  }
  .flotante h3{
    padding-left: 1em;
  }
  .img_servicios img{
    width: 80%;
  }

}
@media (max-width:380px){


  .parrafo-servicios p{
    padding: 1em;
    text-align: center;
  }
  .flotante h3{
    padding-left: 2.8em;
  }
  .mb-5{
    padding-left: 0.8em;
  }
}
.servicios_links{
  background-color: #d20505;
  padding: 1em 0px;
}
.servicios_links li{
  color: white;
  font-size: 1.2rem;
  padding: 1rem 1em 1em 1em;
  transition: all linear 0.1s;
}
.servicios_links li:hover{
  color: white;
  font-size: 1.2rem;

  background-color: #E60000;
}
.servicios_links ul{
  list-style-type: none;
  padding-left: 0;

}
.descripcion_article{
  padding: 1.5rem 1.5rem;
}
.descripcion_article h1{
  font-family: Caviar-Dreams-Bold;
  margin: 1rem 0rem;
}
.div_img_container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.imagenes_divs{
  width: 30%;
  height: 300px;
  margin: 1rem;
  background-color: red;
}
@media (max-width:1365px){
  .imagenes_divs{
    width: 27%;
    height: 240px;
  }
}
@media (max-width:991px){
  .servicios_links{
    text-align: center;
  }
  .servicios_links li {
    padding: 1rem 1em 1em 1em;
  }
  .imagenes_divs{
    width:80%;
    height:300px;
  }
}
@media (max-width:400px){
  .imagenes_divs{
    width:100%;
    height:300px;
  }
}
.info_container{
  display: none;
}
.titulo_tabla{
  width: 100%;
  text-align: center;
  background-color:#E60000;
  color: white;
  padding:1rem 2rem;
  margin:1em auto;
  font-family: Caviar-Dreams-Bold;
}
.callto{
  background-color: rgb(218, 218, 218);
  padding: 4rem 1rem;
  font-family: Caviar-Dreams-Bold;
}
.callto h2{
  margin:2rem auto;
}
.negrita{
  font-family: Caviar-Dreams-Bold;
}
/*CIERRE Servicios*/
/* Login clientes */
.fondo_login_rojo{
  position: absolute;
  z-index: -1;
  background-color: red;
  height: 400px;
  width: 100%;
  top: 111px;
  left: 0;
}
.full-container{
  text-align: center;
  color: white;
    font-family: Caviar-Dreams-Bold;
}
.full-container h1{
  margin: 1em auto;
}
.form-container{
  background-color: white;
  color: black;
  padding: 5rem;
}
.inputs-margin{
  margin: 3em auto;
}
.foto_left{
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* Login clientes  CIERRE*/
.fondo_absolute{
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  top: 111px;
  left: 0;
}