@font-face{font-family: Roboto-Bold;src: url("../fonts/roboto/Roboto-Bold.ttf");}
@font-face{font-family: Roboto-Regular;src: url("../fonts/roboto/Roboto-Regular.ttf");}
@font-face{font-family: Caviar-Dreams;src: url("../fonts/caviar/caviardreams-webfont.ttf");}
@font-face{font-family: Caviar-Dreams-Bold;src: url("../fonts/caviar/CaviarDreams_Bold.ttf");}
a{	font-family: Caviar-Dreams-Bold;}
.btn-danger {
  color: #fff;
  background-color: #E60000!important;
  border-color: #E60000!important;
}

body{
	font-family: Caviar-Dreams;
}
body section{
    box-shadow:inset 0px 15px 8px -10px rgba(0, 0, 0, 0.3);
}
.section-rojo{
	background-color: #E60000;
	color: white!important;
}
header.header{
	height: 500px;
	background-position: center;
	background-size: cover;
	padding: 2em;
	display: flex;
	justify-content:flex-start;
	align-items:  flex-end;
}
header.header h1{
	font-family: Roboto-Bold;
}
/* Call to action 1 */
.callToAction{
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	padding: 3em 1em;
	overflow: hidden;
}
.callToAction h2{
	font-family: Caviar-Dreams-Bold;
	text-align: center;
}
.callToAction p{
	margin: 2em auto;
	font-size: 1.2em;
	text-align: justify;
}
.callToAction div.botones{
	text-align: center;
	margin: 4em auto 1em auto;
}
.callToAction div{
	text-align: center;
}
.callToAction a.img-after{
	overflow: visible;
	margin: 3em 1em 1em 1em;
}
a.img-after::after{
	content:"";
	position: absolute;
	z-index: 2;
	width: 150px;
	height: 150px;
	background-position: center;
	background-size: cover;
}
a.img-after:first-child::after{
	top: -114px;
	left: 110px;
	background-image: url('../images/Informes.svg');
}
a.img-after:last-child::after{
	top: -95px;
	right: -80px;
	background-image: url('../images/Datos.svg');
}
/* Fin de Call to Action */
/* Section de 3 parrafos */
.p-container{
	margin: 0 auto!important;
}
.parrafos{
	text-align: left;
	padding-right: 2em;
	margin: 0 auto!important;
}.parrafos p{
	text-align: left;
	padding-left: 1em;
	border-left: 3px solid #fff;
}
a.btn-only{
	margin: 2em auto;
	width: 150px!important;
}
/* Cierre Section de 3 parrafos */

/* SWIPER DE CLIENTES */
.swiper-container {
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 1em auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

  }
  .slide-cliente{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
  }
  .slide-cliente img{
    width: 250px;
  }
  /* CIERRE SWIPER DE CLIENTES */
